<% layout('./layouts/boilerplate') %>
<%= success %>
<div class="flex items-center justify-center min-h-screen">
    <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0">
        <form action="/user/login" class="flex flex-col justify-center p-8 md:p-14" method="post">
            <span class="mb-4 text-4xl font-bold">Welcome Back</span>
            <span class="font-light text-gray-400 mb-8">Welcome Back, Please enter your details</span>
            <div class="py-4">
                <label for="email" class="mb-2 text-md">Username:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded-md placeholder:light placeholder:text-gray-500" id="username" name="username">
            </div>
            <div class="py-4">
                <label for="password" class="mb-2 text-md">Password:</label>
                <input type="password" class="w-full p-2 border border-gray-300 rounded-md placeholder:light placeholder:text-gray-500" id="password" name="password">
            </div>
            <button class="w-full bg-black text-white p-2 rounded-lg mb-6 hover:bg-white hover:text-black hover:border hover: border-gray-300">Sign in</button>
            <div class="text-center text-gray-400">
                Don't have an accout?
                <a href="/user/register" class="font-bold text-black"> Sign Up for free</a>
            </div>
        </form>

        <div class="relative ">
            <img src="../images/ghibli.jpg" alt="" class="w-[400px] h-full hidden rounded-r-2xl md:block object-cover">
        </div>
    </div>
</div>